service:
  expose:
    - 8080

istio:
  internal:
    hosts:
      - base-repo.production.cure.fit.internal
  external:
    hosts:
      - base-repo.curefit.co
    match:
      - exact: /webhook/status-event
      - exact: /webhook/digital-report-event

datadog:
  enabled: true
  custom_metrics: true

deployment:
  tolerations:
    # this toleration is to have the app runnable on arm nodes
    - key: graviton
      operator: Equal
      value: 'true'
      effect: NoSchedule
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
                - arm64
  labels:
    billing: sugarfit
    sub-billing: base-repo
  podAnnotations:
    iam.amazonaws.com/role: arn:aws:iam::035243212545:role/k8s-base-repo-prod
  probePath: /actuator/health
  probePort: 8080
  resources:
    limits:
      cpu: 4
      memory: 4Gi
    requests:
      cpu: 2
      memory: 3G
  env:
    - name: LOG_LEVEL
      value: INFO
    - name: ENVIRONMENT
      value: "prod"
    - name: ROLLBAR_DISABLED
      value: false
externalSecrets:
  enabled: "true"
